node_modules
frontend/.idea
frontend/dist
frontend/node_modules
frontend/release
frontend/.env
frontend/src/js/version.gen.js
frontend/src/js/locales.gen.js
frontend/vite.config.js
frontend/src/js/themeConfig.gen.js
.idea
.env